.parent {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;

  .logo {
    position: absolute;
    top: 15px;
    left: 119px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    transition: 3s;

    img {
      position: absolute;
      width: 125px;
    }
  }

  .header-flex {
    display: flex;
    top: 15px;
    left: 470px;
    position: absolute;
    width: 25vw;
    height: 65px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    .header-text {
      font-size: 11.5pt;
      margin: 25px;
      font-weight: bold;
      transition: 0.3s;

      &.last {
        text-wrap: nowrap;
      }
    }
  }
}