.why-container {
  position: absolute;
  top: 700px;
  left: 100px;
  display: flex;
  user-select: none;

  p {
    opacity: 0.4;
    font-weight: bold;
  }

  .why-parts {
    position: absolute;
    top: 150px;
    left: 150px;
    display: flex;
    opacity: 0;

    &.active {
      animation: appear 1s linear forwards;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 730px) {
  .why-container {
    height: 1000px;
    text-align: center;
  }

  .why-parts {
    flex-direction: column;
    translate: -120px 0;
    text-align: center;
    font-size: 8pt;
  }

  p {
    font-size: 10pt;
    text-align: center;
  }

  .why-text {
    translate: -50px 0;
  }
}